.columnButton {
    display: inline-block;
}

.right-align {
    margin-left: 35px;
}

.fieldDateTask {
    background-color: #ffffff!important;
    border: 0px!important;
    font-weight: 600!important;
    font-size: 16px!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
    color: #3d5170;
}

.fieldColumnName {
    background-color: #ffffff!important;
    border: 0px!important;
    font-weight: 600!important;
    font-size: 18px!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
    color: #3d5170;
}

.fieldDescriptionName {
    background-color: #ffffff!important;
    border: 0px!important;
    font-weight: 600!important;
    font-size: 17px!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
    color: #3d5170;
}

.fieldDescription {
    background-color: #ffffff!important;
    border: 1px solid #e1e5eb!important;
    font-weight: 500!important;
    font-size: 16px!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
}

.columnBase {
    display: flex!important;
    overflow-x: auto!important;
}

.greenColor {
    background-color: rgb(0, 139, 12)!important;
}

.yellowColor {
    background-color: rgb(216, 212, 0)!important;
}

.orangeColor {
    background-color: darkorange!important;
}

.redColor {
    background-color:darkred!important;
}

.task-id-design {
    font-size: 14px!important;
    font-weight: bold!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
    color: white!important;
}

.head-task {
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
}

.font-task-info {
    font-size: 15px!important;
    font-weight: normal!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
}

/**
CARD TASK
**/
.card-task {
    background-color: rgb(255, 255, 255)!important;
    font-size: 16px!important;
    font-weight: bold!important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif!important;
}

.card-task-greenColor {
    box-shadow: 0 1px 3px rgb(0, 139, 12), 0 1px 2px rgb(0, 139, 12);
}

.card-task-yellowColor {
    box-shadow: 0 1px 3px rgb(216, 212, 0), 0 1px 2px rgb(216, 212, 0);
}

.card-task-orangeColor {
    box-shadow: 0 1px 3px darkorange, 0 1px 2px darkorange;
}

.card-task-redColor {
    box-shadow: 0 1px 3px darkred, 0 1px 2px darkred;

}

/**
SELECTOR COLORS
*/
.selector-pr {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif!important;
    font-size: 14px!important;
}

.selector-greenColor {
    background: rgb(0, 139, 12)!important;
    color:white!important;
}

.selector-yellowColor {
    background: rgb(216, 212, 0)!important;
    color:black!important;
}

.selector-orangeColor {
    background: darkorange!important;
    color:black!important;
}

.selector-redColor {
    background: darkred!important;
    color:white!important;
    
}

/*
AUTH
**/
.window-auth {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 10%;
}