/* Минимальная ширина */
.mnw100 {
    min-width: 100px;
}

.mnw150 {
    min-width: 150px;
}

.mnw200 {
    min-width: 200px;
}

.mnw250 {
    min-width: 250px;
}

.mnw275 {
    min-width: 275px;
}

.mnw300 {
    min-width: 300px;
}

.mnw350 {
    min-width: 350px;
}

.mnw400 {
    min-width: 400px;
}

.mnw450 {
    min-width: 450px;
}

.mnw500 {
    min-width: 500px;
}

.mnw700 {
    min-width: 700px;
}

/* 
**** Максимальная ширина ****
*/
.mxw100 {
    max-width: 100px;
}

.mxw150 {
    max-width: 150px;
}

.mxw200 {
    max-width: 200px;
}

.mxw250 {
    max-width: 250px;
}

.mxw300 {
    max-width: 300px;
}

.mxw350 {
    max-width: 350px;
}

.mxw400 {
    max-width: 400px;
}

.mxw450 {
    max-width: 450px;
}

.mxw500 {
    max-width: 500px;
}